private_*
*.log

# temporary files
temp.*
.depend

# temporary doc files
docs/limits_old/*
docs/*.aux
docs/*.synctex.gz
docs/*.log

# private files (not to be shown on github)
private*

# emacs auto-save data
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin_win64/*
bin_nix64/*
*.exe
*.out
*.app

